
body{
  background-color: #0c0c0c;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Cagliostro', sans-serif;
  font-family: 'Play', sans-serif;
}
.heading{
  background-color: #404040;
  border: 1px solid #404040;
  border-radius: 4px;
  text-align:center;
  margin-top: 10px;
  padding: 5px;
}
.scrape-button, .saved-articles-button{
  margin: 0px 2px;
}
.articles{
  background-color: #404040;
  border: 1px solid #404040;
  border-radius: 4px;
  padding:5px;
  margin-top: 10px;
}
.title-and-link{
  width: 80%;
  float:left;
}
.each-article{
  overflow: auto;
  border: 1px solid #535353;
  border-radius: 3px;
  margin-top: 6px;
  width: 100%;
} 
.saved{
  float:left;
  width:10%;
}
.save_saved{
  float: left;
  min-width: 123px;
  margin-top: 5px;
}
.article-title, .article-link, .note-button, .delete-button{
  margin: 10px;
}
.article-title{
  font-weight: 600;
}
.article-link{
  height: 20px;
}
.notes-modal{
  color: #000;
}

