
*{
  background-color: #333;
  color: #fff;
}

.each-article{
  border: 1px solid black;
  border-radius: 3px;:w
}

.title, .link{
  margin: 10px;
}
.title{
  font-weight: 600;
}

.link{
  height: 20px;
}

